.clock {
    background: #ececec;
    width: 300px;
    height: 300px;
    margin: 8% auto 0;
    border-radius: 50%;
    border: 14px solid #333;
    position: relative;
    box-shadow: 0 2vw 4vw -1vw rgba(0,0,0,0.8);
    transition: all  1s;

  }
  
  .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 4px -1px black;
  }
  
  .hour-hand {
    position: absolute;
    z-index: 5;
    width: 4px;
    height: 65px;
    background: #040404;
    top: 79px;
    transform-origin: 50% 72px;
    left: 50%;
    margin-left: -2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  
  .minute-hand {
    position: absolute;
    z-index: 6;
    width: 4px;
    height: 100px;
    background: rgb(255, 150, 4);
    top: 46px;
    left: 50%;
    margin-left: -2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 105px;
  }
  
  .second-hand {
    position: absolute;
    z-index: 7;
    width: 2px;
    height: 120px;
    background: rgb(255, 0, 174);
    top: 26px;
    lefT: 50%;
    margin-left: -1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 125px;
  }
  
  span {
    display: inline-block;
    position: absolute;
    color: #333;
    font-size: 22px;
    font-family: 'Poiret One';
    font-weight: 700;
    z-index: 4;
  }
  
  .h12 {
    top: 30px;
    left: 50%;
    margin-left: -9px;
  }
  .h3 {
    top: 140px;
    right: 30px;
  }
  .h6 {
    bottom: 30px;
    left: 50%;
    margin-left: -5px;
  }
  .h9 {
    left: 32px;
    top: 140px;
  }
  
  .diallines {
    position: absolute;
    z-index: 2;
    width: 2px;
    height: 15px;
    background: #070707;
    left: 50%;
    margin-left: -1px;
    transform-origin: 50% 150px;
  }
  
  .diallines:nth-of-type(5n) {
    position: absolute;
    z-index: 2;
    width: 4px;
    height: 25px;
    background: #020202;
    left: 50%;
  }
  .theme{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  button{
    width: 70px;
    height: 30px;
    align-items: center;
    background: black;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    justify-content: center;
    transition: all  1s;
  }
  button:hover{
    background: #2b2929;
    font-weight: bold;
  }
  button:active{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.663);
    transform: translateY(-15px);
  }
body.dark button{  
    background: #000;
    background: #000;
    color: white;
    border: none;
}
body.light button{
    color: black;
    background: white;
    border: none;
    box-shadow: 2px 2px 2px black;
}
body.dark .clock{
    background: #ececec;
    border: 14px solid #333;
    box-shadow: 0 2vw 4vw -1vw rgba(202, 196, 196, 0.697);
}
body.light .clock{
    background: #000;
    border: 14px solid #ffffff;
    box-shadow: 0 2vw 4vw -1vw rgba(0,0,0,0.8);
}

body.light .h3{
    color: rgb(255, 255, 255);

}
body.light .h6{
    color: rgb(255, 255, 255);

}body.light .h9{
    color: rgb(255, 255, 255);

}body.light .h12{
    color: rgb(255, 255, 255);

}
body.dark .hour-hand{
    background: yellow;
}
body.dark .second-hand{
    background: rgb(255, 0, 0);
}
body.dark .minute-hand{
    background: rgb(255, 255, 255);
}
body.dark .diallines{
  background: white;
}
